*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --radius: 7px;
  --h1title: 5vmin;
  --h2title: 4vmin;
  --h3title: 3vmin;
  --paragraph: 2vmin;
  --black: #000;
  --grey: #182130;
  --white: #fff;
  --blue: #0099ff;
  --regBlue: #0466c8;
  --liBlue: #cae9ff;
  --transition: .5s;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  background-color: var(--white);
  font-size: 1.6rem;
}

a{
  color: var(--white);
  font-weight: 500;
  text-decoration: none;
  transition: var(--transition);
}

h1{
  font-size: var(--h1title);
}

h2{
  font-size: var(--h2title);
}

h3{
  font-size: var(--h3title);
}

p{
  font-size: var(--paragraph);
}