*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --radius: 7px;
  --h1title: 5vmin;
  --h2title: 4vmin;
  --h3title: 3vmin;
  --paragraph: 2vmin;
  --black: #000;
  --grey: #182130;
  --white: #fff;
  --blue: #0099ff;
  --regBlue: #0466c8;
  --liBlue: #cae9ff;
  --transition: .5s;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  background-color: var(--white);
  font-size: 1.6rem;
}

a{
  color: var(--white);
  font-weight: 500;
  text-decoration: none;
  transition: var(--transition);
}

h1{
  font-size: var(--h1title);
}

h2{
  font-size: var(--h2title);
}

h3{
  font-size: var(--h3title);
}

p{
  font-size: var(--paragraph);
}

/* Header */

header{
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 99999;
}

nav{
  display: flex;
  background-color: var(--grey);
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;

  & img{
    width: 12rem;
    height: 12rem;
  }

  & ul{
    list-style: none;
    display: flex;
    gap: 6rem;
    align-items: center;  
  }
}

li{
  font-size: 1.9rem;
}

nav a:hover{
  color: var(--liBlue);
  font-size: 2rem;
}

/* Hero */

.hero{
  color: var(--white);
  display: flex;
  padding: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-image: linear-gradient(rgba(14, 42, 114, 0.3), rgba(1, 2, 8, 0.9)), url(../images/hero-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.hero-content{
  display: flex;
  flex-direction: column;
  align-items: left;
  text-wrap: balance;
  gap: 4rem;
  justify-content: center;

  & p{
    text-align: justify;
    width: 50%;
  }
}

.btn{
  color: var(--white);
  font-weight: 900;
  font-size: 1.8rem;
  background-color: #3c414a;
  text-align: center;
  padding: 2rem;
  margin-top: 5rem;
  border: 2px solid var(--grey);
  border-radius: var(--radius);
  width: 25%;
  box-shadow: 0.2rem 0.2rem 0.9rem 0.2rem var(--grey);

  &:hover{
    color: var(--liBlue);
    background: transparent;
  }
}

/* Problema */

.problema{
  margin: 2px 0 2px 0;
  padding: 5rem;
  display: flex;
  min-height: 90vh;

  & img{
    border-radius: var(--radius);
    width: 50%;
  }
}

.problema-content{
  display: inherit;
  margin: auto;
  padding: 4rem;
  flex-direction: column;
  gap: 10rem;
  align-items: center;
  & h2{
    text-align: center;
    color: var(--blue);
  }

  & p{
    text-align: justify;
    word-wrap: balance;
  }
}